:root {
--basic-black: #000000;
--basic-sky-blue: #81B3D2;
--sky-blue-place: #669EC0;
--sky-blue-press: #5496BD;
--basic-white: #FFFFFF;
--basic-dark-grey: #333333;
--basic-light-grey: #EEEEEE;
--basic-extra-light-grey: #F2F2F2;
--light-grey-place: #EBEBEB;
--basic-light-brown: #766357;
--basic-dark-brown: #604E43;
--basic-extra-dark-brown: #503E33;

--special-grey: #A9A9A9;
--special-dark-grey: #666666;
--special-light-grey: #CACACA;
--special-grey: #A9A9A9;
--special-normal-grey: #888888;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans","Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-extra-light-grey);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*GRID*/

.page{
  height: 100%;
}

.wrapper {
  width: 1200px;
  background-color: var(--basic-white);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.main-navigation {
}


.site-navigation{
  list-style: none;
  font-weight: bold;
  line-height: 26px;
  display: grid;
  grid-template-columns: 227px 227px 146px 227px 227px;
}

.site-navigation li:nth-child(1),
.site-navigation li:nth-child(2) {
  text-align: left;
}

.site-navigation li:nth-child(3) {
  text-align: right;
  grid-column-start: 4;
}

.site-navigation li:nth-child(4){
  text-align: right;
}

.main-header-logo{
}

.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--basic-sky-blue);
}


.main-promo {
  text-align: center;
}

.introduction {
  text-align: center;

  font-weight: bold;
  font-size: 21px;
  line-height: 36px;
}

.introduction p {
  line-height: 26px;
}

.features-list,
.features-item,
.features-subtype {
  list-style: none;
}

.features-list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: repeat(3, min-content);
  text-align: center;
}

.first-item {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: minmax(256px, max-content) minmax(300px, max-content);
  background-color: var(--basic-sky-blue);
}

.first-item img {
  grid-column: 2/4;
}

.first-item ul {
  padding: 0;
  grid-column: 1/4;
  display: grid;
  grid-template-columns: repeat(3, 400px);
}

.features-block{
  background-color: var(--basic-sky-blue);
  color: var(--basic-white);
}

.features-item {
  background-color: var(--basic-light-grey);
}

.features-subtype{
  background-color: var(--basic-white);
}

.second-item {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: minmax(256px, max-content);

}

.second-item img {
  grid-column: 1/3;
}

.appointment {
  text-align: center;

}
.appointment h2 {
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
}

.appointment-form {
  text-align: center;
}

.appointment-datain {
  font-weight: bold;
  line-height: 18px;
}

.text {
  background-color: var(--basic-extra-light-grey);
}

.text:hover,
.text:focus {
  background-color: var(--light-grey-place);
}

.text:active {
}

.button-info {
  color: var(--basic-white);
  background-color: var(--basic-light-brown);
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.button-info:hover,
.button-info:focus {
  background-color: var(--basic-dark-brown);
}

.button-info:active {
  background-color: var(--basic-extra-dark-brown);
}

.button-find {
  color: var(--basic-white);
  background-color: var(--basic-sky-blue);
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.button-find:active {
  background-color: var(--sky-blue-press);
}

.appointment-item {
  font-weight: bold;
  line-height: 26px;
}

.button {
  background-color: var(--special-dark-grey);
  font-weight: bold;
  line-height: 26px;
}

.calendar {
  background-color: var(--special-dark-grey);
  font-weight: bold;
  line-height: 26px;
}

.map {
  text-align: center;
}

.main-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.contacts {
  text-decoration: none;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

/*---------- CATALOG ------------*/

.filtres {
  background-color: var(--basic-sky-blue);
}
.filtres-form {
  font-size: 16px;
  color: var(--basic-white);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.filtres-form div:nth-child(1),
.filtres-form div:nth-child(2) {
  text-align: left;
}

.filtres-form div:nth-child(3) {
  text-align: center;
}

.filtres-submit {
grid-column-start: 3;
}

.filtres-item {

}

.filtres-item h3 {
font-weight: bold;
font-size: inherit;
}

.result h2,
.result-info,
.findings h2 {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.result{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.result-value {
  font-size: 12px;
  line-height: 18px;
  list-style: none;
  display: inline-block;
}

.findings li{
  display: grid;
    padding: 0;
    grid-template-columns: repeat(3,400px);

}

.findings-item {
  list-style: none;
  padding: 0;
  display: flex;
}

.findings-item img {
flex-grow: 1;
}

.findings-item-info{
  }

.button-info{
  font-weight: bold;
font-size: 14px;
line-height: 21px;
  background-color: var(--basic-sky-blue)
}

.button-bron{
  color: var(--basic-white);
  font-weight: bold;
font-size: 14px;
line-height: 21px;
  background-color: var(--basic-light-brown)
}
